@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
:root{
  --bg-swiper: #F1F1F1;
  --scrollbar-black-theme: #1f1f1f;
  --scrollbar-light-theme: #F9F9F9;
}
body {
  margin: 0;
  background: #F9F9F9;
  font-family: 'Inter', sans-serif;
}
.swiper{
  width: 100%;
  padding-bottom: 190px !important;
}
.swiper-wrapper{
  padding-bottom: 20px;
}
::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-thumb {
  background: var(--scrollbar-black-theme) !important;
  border-radius: 20px;
}
 body.dark::-webkit-scrollbar-thumb {
  background: var(--scrollbar-light-theme) !important;
}
.animate-icons{
  animation: rotating 2s linear infinite;
}
@keyframes rotating{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.not-spin{
  animation-play-state: paused;
}
.animate-spin {
  animation: spin 10s linear infinite;
}
.animate-spin-reverse{
  animation: reverse-spin 10s linear infinite;
}
@keyframes reverse-spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-360deg);
  }
}
.icon{
  width: 65px;
  height: 65px;
}
.dark{
  background: #1f1f1f !important;
  color: #fff;
}
.dark-theme{
  background: #1f1f1f !important;
}
.dark-text{
  color: #fff !important;
}
.dark-btn{
  background: #FFFFFF !important;
  color: #141416;
}
.hover-change:hover{
  background-color: #E6E8EC !important;
  color: #141416;
}
.dark-hover:hover{
  background-color: #615c5c !important;
  color: #fff;
}
.dark-border{
  border-color: #F1F1F1 !important;
}
html{
  scroll-behavior: smooth;
}