@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body {
  margin: 0;
  background: #F9F9F9;
  font-family: 'Inter', sans-serif;
}
.swiper{
  width: 100%;
  padding-bottom: 190px !important;
}
.swiper-wrapper{
  padding-bottom: 20px;
}
::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 20px;
}
